<a href="/"><input class="Home" type="Submit" value="Homepage"></a>
<a href="/create_ticket_view/"><input class="CreateTicket" type="Submit" value="Ticket Submit"></a>

<h1>Homepage</h1>
<h2>Welcome, {{ request.user.username }}!</h2>
<p>
<a href="/logout_view/"><button>Logout</button></a>
<a href="/login_view/"><button>Login</button></a>
</p>
<div>
    <h1>New Ticket</h1>
    {% for ticket in New reversed %}
    <ul>
        <li>
            <a href="/ticket_detail_view/{{ ticket.id }}">{{ ticket.title }}</a>
            Reported By: <a href="/user_detail_view/{{ ticket.user_filed.id }}">{{  ticket.user_filed }}</a>
        </li>
    </ul>
    {% endfor %}
</div>
<br>
<br>
<div>
    <h1>Ticket in Progress</h1>
    {% for ticket in  in_progress reversed %}
    <ul>
        <li>
            Title: <a href="/in_progress_ticket_view/{{ ticket.id}}">{{ ticket.title }}</a>
            <br>
            assigned to: <a href="/user_detail_view/{{ ticket.user_assigned.id}}">{{ ticket.user_assigned }}</a>
            <br>
            Reported By: <a href="/user_detail_view/{{ ticket.user_filed.id }}">{{  ticket.user_filed }}</a>
        </li>
    </ul>
    {% endfor %}
</div>
<br>
<br>
<div>
    <h1>Completed Tickets</h1>
    {% for ticket in Completed reversed %}
    <ul>
        <li>
            Title: <a href="/completed_ticket_view/{{ ticket.id}}">{{ ticket.title }}</a>
            <br>
            Completed By: <a href="/user_detail_view/{{ ticket.user_completed.id}}"> {{ ticket.user_completed }}</a>
            Reported By: <a href="/user_detail_view/{{ ticket.user_filed.id }}">{{  ticket.user_filed }}</a>
        </li>
    </ul>
    {% endfor %}
</div>
<br>
<br>
<div>
    <h1>Invalid Tickets</h1>
    {% for ticket in Invalid reversed %}
    <ul>
        <li>
            Title: <a href="/invalid_ticket_view/{{ ticket.id}}">{{ ticket.title }}</a>
            <br>
            Completed By: <a href="/user_detail_view/{{ ticket.user_completed.id}}"> {{ ticket.user_completed }}</a>
            Reported By: <a href="/user_detail_view/{{ ticket.user_filed.id }}">{{  ticket.user_filed }}</a>
        </li>
    </ul>
    {% endfor %}
</div>